.banner{
    background-color: var(--colorSection);
    height: 50vh;
}
.banner-content{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.banner-logo{
    /* align-items: center; */
    text-align: center;
}
.banner-logo img{
    width: 70%;
}
.banner-escudo{
    text-align: center;
    width: 100%;
}
.banner-message{
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    color: var(--colorBase);
    letter-spacing: 2px;
    text-transform: uppercase;
}