@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('bulma.css');
@import url('input.css');
@import url('header.css');
@import url('banner.css');
@import url('section.css');
@import url('news.css');
@import url('footer.css');

:root{
    --fontBase:'Hind Madurai', sans-serif;
    
    --colorBase:#fff;
    --colorActive:#00174f;
    --colorbg:#070534;
    --colorSection:#070534;
    --colorFooter:#cc0c2f;
}
body{
    font-family: var(--fontBase);
    color: var(--colorBase);

}
li{
    list-style: none;
}

