.options{
    /* border: 2px solid red; */
    background-image: url(../assets/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.options-content{
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-around;
    height: 75vh;

}
.option-actions{
    /* border: 2px solid yellow; */
    grid-row: 2;
    gap: 10px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: 30px;
    top: -150px;
}
.options-content button{
    text-transform: uppercase;
    color: var(--colorSection);
    font-weight: bold;
    border: none;
    
}
.options-content button:hover{
    background: var(--colorSection);
    color: var(--colorBase);
    transition: .8s ;
}
